@use 'sass:color';
@use 'sass:math';

@function mix($color1, $color2, $weight: 0.5, $gamma: 2.2) {
  $tf: math.div(1, $gamma); // transfer function
  $itf: $gamma; // inverse transfer function
  $r1: color.red($color1);
  $g1: color.green($color1);
  $b1: color.blue($color1);
  $a1: color.alpha($color1);

  $r2: color.red($color2);
  $g2: color.green($color2);
  $b2: color.blue($color2);
  $a2: color.alpha($color2);

  $w1: 1 - $weight;
  $w2: $weight;

  @return rgba(
    math.pow(math.pow($r1, $itf) * $w1, $tf) + math.pow(math.pow($r2, $itf) * $w2, $tf),
    math.pow(math.pow($g1, $itf) * $w1, $tf) + math.pow(math.pow($g2, $itf) * $w2, $tf),
    math.pow(math.pow($b1, $itf) * $w1, $tf) + math.pow(math.pow($b2, $itf) * $w2, $tf),
    $w1 * $a1 + $w2 * $a2
  );
}

@function lighten($color, $weight: 0.5) {
  @if ($weight >= 0) {
    @return mix($color, #fff, $weight);
  } @else {
    @return darken($color, -$weight);
  }
}

@function darken($color, $weight: 0.5) {
  @if ($weight >= 0) {
    @return mix($color, #000, $weight);
  } @else {
    @return lighten($color, -$weight);
  }
}
