:root {
  --color-k: #020307;
  --color-b: #1a69ff;
  --color-w: #ffffff;
  --font-sans: 'Neue Montreal', system-ui, -apple-system, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;

  --color-bg: var(--color-w);
  --color-fg: var(--color-k);
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-sans);
  line-height: 1;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
  margin: 0;
}

p {
  line-height: 1.5;
  margin: 1em 0;
}

em,
i {
  font-variation-settings: 'ital' 900;
  font-style: normal;
}

em em,
em i,
i em,
i i {
  font-variation-settings: 'ital' 0;
}

pre,
code {
  font-family: var(--font-mono);
}

a {
  color: var(--color-b);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-k);
    --color-fg: var(--color-w);
    --color-b: #1a94ff;
  }
}
