---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
---
<html>
<head>
  <Head title="" />
  <style lang="scss">
    .info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 1rem 1.25rem 1rem 1.25rem;
      width: 100%;

      &-colors {
        align-items: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: min-content min-content min-content;
        justify-content: center;
      }

      &-steps {
        text-align: right;
      }
    }

    .input {
      font-size: 14px;

      input {
        border: 1px solid #d0d0d0;
        border-radius: 2px;
        font-family: var(--monospace);
        font-size: 13px;
        font-weight: 300;
        height: 24px;
        line-height: 24px;
        margin-left: 0.5rem;
        padding: 0;
        text-indent: 0.5em;
        width: 3rem;
      }

      select {
        border: 1px solid #d0d0d0;
        border-radius: 2px;
        font-family: var(--body);
        font-size: 14px;
        font-weight: 450;
        height: 24px;
        line-height: 24px;
        margin-left: 0.5rem;
        padding: 0 0.25rem;
      }
    }
  </style>
</head>
<body>
  <Nav />

  <main>
    <div class="info pad1">
      Generate a smooth grayscale palette

      <div class="info-colors">
        <label class="picker">
          <input id="start" type="color" value="#100800" />
          <input id="start-string" type="text" value="#100800" />
        </label>
        →
        <label class="picker">
          <input id="end" type="color" value="#ffffff" />
          <input id="end-string" type="text" value="#ffffff" />
        </label>
      </div>

      <div class="info-steps">
        <label class="input">Steps <input id="steps" type="text" inputmode="numeric" value="7"></label>
      </div>
    </div>

    <div class="color"></div>

    <section class="wrapper">
      <h2>Explanation</h2>
      <p>
        True grayscale palettes are the closet sRGB ever gets to being correct. Some may even prefer the spread of sRGB to oklch, and that’s OK!
      </p>
      <p>
        Linear RGB performs the worst here when dealing with high contrast. But when dealing with fully-saturated colors, linear RGB will often yield much better results than sRGB.
      </p>
      <p>
        You’ll also find that oklch and oklab are identical when one or both colors are desaturated. But introduce some color (i.e. cool or warm grays) and you’ll see the two start to diverge slightly (with Oklch trying to show  more color, which may or may not be desirable).
      </p>
    </section>
  </main>

  <script type="module" src="/src/lib/grayscale.js"></script>
</body>
</html>
