---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
---
<html>
<head>
  <Head title="" />
  <style lang="scss">
    .color {
      display: grid;
      min-height: 75vh;
      grid-template-columns: 1fr 1fr;
    }

    .color-selection {
      align-items: center;
      display: flex;
    }

    .lead {
      color: rgba(0, 0, 0, 0.6);
      font-size: 18px;
      font-weight: 400;
      font-variation-settings: 'ital' 900;
      font-style: normal;
      margin-top: 0;
    }
  </style>
</head>
<body>
  <Nav />

  <main>
    <div class="wrapper">
      <h3 class="lead">Fancy-schmancy color terms explained in common language</h3>
      <h1><a name="srgb">sRGB</a></h1>
      <p>
        Probably what you think of when you think of “RGB.” While the generic term <em>RGB</em> refers broadly to an approach to color, <em>sRGB</em> is the specific implementation of RGB for web and most graphics programs that we’re most familiar with. Though you may also be used to the <code>0</code>–<code>255</code> scale (“8-bit sRGB”), sRGB may express more than 256³ colors.
      </p>
      <p>
        sRGB does an all-around good job at representing a good spread of light and color to the human eye. But it’s difficult to manipulate, which is why other formats like <a href="#oklab">Oklab</a> come in handy.
      </p>
      <h1><a name="linear-rgb">Linear sRGB</a></h1>
      <p>
        The human eye is much more sensitive to dark than light, which is why sRGB is actually curved. As the values go up, the distance between values gets further and futher apart, such that <code>244, 244, 244</code> and <code>255, 255, 255</code> are leagues farther apart than <code>0, 0, 0</code> and <code>1, 1, 1</code>. Linear sRGB is a colorspace that expands sRGB into its true values (also known as “gamma-expanded”). While you’re dealing with the true mathematical values, perceptually it will appear to skew much lighter than gamma-compressed sRGB.
      </p>
      <h1><a name="hsl">HSL</a></h1>
      <p>
        A format we’re all familiar with, but should be avoided. HSL is intended to make manipuating the R, B, and G channels of sRGB more intuitive. While that’s its promise, in reality it heavily-distorts the color space and represents <a href="https://en.wikipedia.org/wiki/HSL_and_HSV#Disadvantages" target="_blank">neither hue nor lightness well</a>. Instead, the <a href="#oklch">Oklch</a> color space accomplishes theh same purpose but better.
      </p>
      <h1><a name="oklab">Oklab</a></h1>
      <p>
        An improvement by <a href="https://bottosson.github.io/posts/oklab/" target="_blank">Björn Ottoson</a> on the <a href="https://en.wikipedia.org/wiki/CIELAB_color_space" target="_blank">Lab</a> color space standard, designed to represent colors evenly according to human perception. Björn’s version borrows the same interface and concept as Lab, but corrects the known problem Lab has representing blue colors.
      </p>
      <h1><a name="oklab">Oklch</a></h1>
      <p>
        <a href="https://en.wikipedia.org/wiki/CIELAB_color_space#Cylindrical_model" target="_blank">LCh</a> (<strong>L</strong>ightness, <strong>C</strong>hroma, <strong>h</strong>ue) is another way of expressing the Lab color space in a more intuitive way where hue gets its own channel (as opposed to Lab, whose <strong>a</strong> and <strong>b</strong> values together control the hue). Oklch is the LCh interpretation of Oklab: the same math underpins both; they are only 2 different ways of expressing the same gamut.
      </p>
      <h1><a name="xyz">XYZ</a></h1>
      <p>
        Although not frequently used unless you’re converting colors yourself, the XYZ space deserves an honorable mention because it dates back to the pre-digital era of the <a href="https://en.wikipedia.org/wiki/CIE_1931_color_space#Definition_of_the_CIE_XYZ_color_space" target="_blank">1920s</a> and some of the first modern scientific studies on human vision. The formulation of XYZ is what led to a deeper understanding of <a href="https://en.wikipedia.org/wiki/Trichromacy" target="_blank">rods and cones</a> and the RGB monitors we use today.
      </p>
    </div>
  </main>
</body>
</html>
